body {
  background: #E5E5E5;
  font: 16/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  overflow: hidden;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto; }

#book {
  max-width: 70%;
  margin: 5% auto;
  padding: 20px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  float: left; }

#cards {
  width: 25%;
  padding: 20px;
  margin: 5% 0;
  float: left;
  box-sizing: border-box; }
  #cards .card {
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin: 10px; }
    #cards .card h5 {
      margin: 0;
      padding: 0; }
