$background: #f1f1f1;
$lightBackground: #FFFFFF;

$headerBackground: #607D8B;
$primary: #4d90fe;
$selection: rgb(186, 186, 255);

$white: #ffffff;
$black: #000000;
$annotator-bg: #ffffff;
$annotator-dark-border: darken(#eee, 20%);
$annotator-light-border: #eee;
$annotator-text-color: darken(#eee, 40%);
$annotator-shadow: rgba(0,0,0,0.1);
$yellow: #FFE79D;
$green: #BCEFAA;
$pink: #FD99BB;
$blue: #A4D7FC;